
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>


 <%= "Team Name: #{@params["name"].capitalize}" %>
 <%= "Coach: #{@params["coach"].capitalize}" %>
 <%= "Point Guard: #{@params["pg"].capitalize}" %>
 <%= "Shooting Guard: #{@params["sg"].capitalize}" %>
 <%= "Small Forward: #{@params["sf"].capitalize}" %>
 <%= "Power Forward: #{@params["pf"].capitalize}" %>
 <%= "Center: #{@params["c"].capitalize}" %>


 </body>
</html>
